*{box-sizing:border-box}
body {
  margin: 0;
  /*background: #F7F7F7;*/
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: 'Open Sans', sans-serif;
}

.secondform {
  width: 650px;
  background: white;
  border-radius: 20px;
}
.secondform *{transition: .1s linear}
.profile {
  width: 240px;
  float: left;
  text-align: center;
  padding: 30px;
}
form {
  background: white;
  float: left;
  width: calc(100% - 240px);
  padding: 30px;
  border-radius: 0 20px 20px 0;
  color: #7b7b7b; 
}
.secondform:after, form div:after {
  content: "";
  display: table;
  clear: both;
}
form div {
  margin-bottom: 15px;
  position: relative;
}
h1 {
  font-size: 23px;
  font-weight: 400;
  position: center;
  margin-top: 50px;
  font-weight: 600;
  font-size: .800rem;
  letter-spacing: .25px;
}


input[type="text"], input[type="password"],textarea {
  width: 100%;
  padding: 10px 15px;
  border-width: 0;
  background: #e6e6e6;
  outline: none;
  margin: 0;
}
input[type="text"]:focus, input[type="password"]:focus,type="text":focus {
  box-shadow: inset 0 0 0 2px rgba(0,0,0,.2);
}

input[type="submit"] {
  background: #2196f3;
  color: #FFF;
  }
input[type="submit"]:hover {
    background: lighten(#2196f3, 5%);
  }

input[type="reset"] {
  background: #FF5733;
  color: #FFF;
  }

input[type="reset"]:hover {
    background: lighten(#2196f3, 5%);
  }  

/*-----------Profile img tag----------------*/
.profile img {
  width: 200px;
  height: 250px;
}

/*-----------Profile bottom button----------------*/
.profile-button{
  width: 30%;
  padding: .75rem 1.5rem;
  margin: .5rem 0 0;
  outline: 0;
  border: 0;
  border-radius: 4px;
  font-weight: 600;
  font-size: .800rem;
  letter-spacing: .25px;
  transition: background .3s ease;
  position: relative;
}

/*-----------Profile img file tag----------------*/
.file-box {
  display: inline-block;
  color: white;
  background: gold;
  text-align: center;
}

/*.file-box label {*/
  /**/
/*}*/

.file-box input[type="file"] { /* 파일 필드 숨기기 */
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip:rect(0,0,0,0);
  border: 0;

}



